<div 
  draggable="true"
  data-controller="drag-source" 
  data-action="dragstart->drag-source#dragstart"
  data-drag-source-title-index-value="<%= @title_index %>"
  data-drag-source-key-value="<%= @key %>">
  <%= bootstrap_icon "arrows-move", fill: 'blue', width: 28, height: 28 %>
</div>
