<div
    data-controller="drag-target" 
    data-action="dragover->drag-target#dragover dragenter->drag-target#dragenter drop->drag-target#drop"
    data-drag-target-title-index-value="<%= @title_index %>"
    data-drag-target-key-value="<%= @key %>">
  <%= content %>
</div>
