<turbo-frame id="titleFrame_<%= params[:id] %>">
  <div class="card">
    <div class="card-header">Edit</div>
    <div class="card-body">
      <%= render(TitleComponents::FormComponent.new(model: @title_model, url: description_title_path(params[:description_id], params[:id]), method: :patch)) %>    
    </div>
  </div>
</turbo-frame>