<turbo-frame id="titleFrame_<%= @title_form.index %>">
  <div class="card">
    <div class="card-header">Edit</div>
    <div class="card-body">
      <%= render(Title::FormComponent.new(form: @title_form, url: description_title_path(params[:description_id], @title_form.index), method: :patch)) %>    
    </div>
  </div>
</turbo-frame>